@model EventRegistrationSystem.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContactPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryContactPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","Companies") |
    @Html.ActionLink("Back to List", "Index")
</p>
