@model EventRegistrationSystem.ViewModels.CompanyIndexViewModel
@{
    ViewBag.Title = "Company Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Index</h2>

<p>
    @Html.ActionLink("Add New Company", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.PrimaryContactName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Companies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryContactName)
            </td>
            <td>
                @Html.ActionLink("Company Details", "Details", new { id = item.CompanyID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })
            </td>
        </tr>
    }

</table>
<div>    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x })) </div>


@*@foreach (var c in Model.Companies)
    {
        @Html.Partial("CompanySummary", c)
    }*@



@*@model EventRegistrationSystem.ViewModels.CompanyIndexViewModel

    <div class="panel">
        <h3>@Model.Company.Name</h3>
        <h4>@Model.Company.PhoneNumber</h4>
        <h4>@Model.Company.Email</h4>
        <h4>@Model.Company.PrimaryContactName</h4>
    </div>*@

@*<h3>
    @Html.DisplayNameFor(model => model.Company.Name)
</h3>
<h4>
    @Html.DisplayNameFor(model => model.Company.PhoneNumber)
</h4>
<h4>
    @Html.DisplayNameFor(model => model.Company.Email)
</h4>
<h4>
    @Html.DisplayNameFor(model => model.Company.Email)
</h4>
<h4>
    @Html.DisplayNameFor(model => model.Company.PrimaryContactName)
</h4>


    @foreach (var c in Model.Companies)
    {
        <div class="panel">
            <h3>@c.Name</h3>
            <h4>@c.PhoneNumber</h4>
            <h4>@c.Email</h4>
            <h4>@c.PrimaryContactName</h4>
        </div>
    }*@
