@using EventRegistrationSystem.Models;
@model IEnumerable<EventRegistrationSystem.Models.Company>

@{
    ViewBag.Title = "Company Index";
    ViewBag.Message = "List of all companies registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

<div class="container"  style = "overflow: auto;">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PrimaryContactName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PrimaryContactPhoneNumber)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PrimaryContactEmail)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CompanyWebLink)
            </th>
            <th scope="col"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryContactPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyWebLink)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CompanyID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })
                </td>
            </tr>
        }

    </table>

</div>

@*@using EventRegistrationSystem.Models;
    @model IEnumerable<Company>
    @{
        ViewBag.Title = "Companies";
        ViewBag.Message = "List of all companies registered";
    }

    <h2>@ViewBag.Title</h2>
    <h5>@ViewBag.Message</h5>

    @foreach (var c in Model)
    {
        <div class="panel">
            <h3>@c.Name</h3>
            <h4>@c.Address</h4>
            <h4>@c.PhoneNumber</h4>
            <h4>@c.Email</h4>
            <h4>@c.PrimaryContactName</h4>
            <h4>@c.PrimaryContactPhoneNumber</h4>
            <h4>@c.PrimaryContactEmail</h4>
            <h4>@c.PrimaryContactName</h4>
            <h4>@c.CompanyWebLink</h4>
        </div>
    }*@







