@*@model EventRegistrationSystem.Models.

    <div class="panel">
        <h3>@Model.Name</h3>
        <h4>@Model.PhoneNumber</h4>
        <h4>@Model.Email</h4>
        <h4>@Model.PrimaryContactName</h4>
    </div>*@

@*@foreach (var c in Model.Companies)
{
    <div class="panel">
        <h3>@c.Name</h3>
        <h4>@c.PhoneNumber</h4>
        <h4>@c.Email</h4>
        <h4>@c.PrimaryContactName</h4>
    </div>
}*@