<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- qTip -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />

    <!-- Full Calendar -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css" media="print" />

    @* Custom *@
    @Styles.Render("~/Content/css/custom-style")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink("Day of Difference", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) *@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Context.User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                    {
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        @*                         <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li> *@                 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Companies<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("View Companies", "Index", "Companies")</li>
                                <li>@Html.ActionLink("Create Company", "Create", "Companies")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">NonProfits<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("View Nonprofits", "Index", "NonProfits")</li>
                                <li>@Html.ActionLink("Create Nonprofit", "Create", "NonProfits")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Events<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("View Events", "Index", "VolunteerEvents")</li>
                                <li>@Html.ActionLink("Create Event", "Create", "VolunteerEvents")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Employees", "ViewEmployees", "Administrative")</li>
                        <li>@Html.ActionLink("Registration Links", "Index", "Registration")</li>
                    }
                    else if (Context.User.Identity.IsAuthenticated && !User.IsInRole("ADMIN"))
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                        <li>@Html.ActionLink("View Volunteer Events", "Index", "VolunteerEvents")</li>
                    }
                    else if (!Context.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    }
                </ul>
                            @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Day of Difference | All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Include moment-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- qTip -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <!-- Full Calendar -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
    @Scripts.Render("~/bundles/Script-calendar")


    @RenderSection("scripts", required: false)
</body>
</html>
