@using Microsoft.AspNet.Identity
@{
    ViewBag.UserName = User.Identity.GetUserName();
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-inverse navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello @ViewBag.UserName
                </a>
                <div class="dropdown-menu navbar-inverse" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">@Html.ActionLink("Manage Companies", "Index", "Companies")</a>
                    @*<a class="dropdown-item" href="#"> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</a>
                    <a class="dropdown-item" href="#">Something else here</a>*@
                </div>

            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new {token = "BE82750A-9EC5-4271-9C54-06910597D93A"}, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
