@{
    ViewBag.Title = "About Us";
    ViewBag.Mission = "Our Mission is to promote the movement toward corporate social responsibility by demonstrating through social media the community impact companies make by donating time for volunteer projects to non-profits.";
    ViewBag.Vision = "Our Vision is to encourage companies to connect with community serving organizations to promote active social responsibility and regular community involvement to strengthen their city.";
    ViewBag.About = "Day of Difference is the only company in NE Florida that exclusively connects companies and their employees to volunteer opportunities at local non-profits. We encourage clients to make corporate sponsored volunteerism a priority in the workplace. Our process at Day of Difference directly connects individual employees with volunteer opportunities specific to their interests and availability, increasing participation in the corporate program and creating meaningful relationships. Our program is unique in its capability to provide not only customizable reporting of volunteer work, but seamlessly integrates social media into the volunteer process. The integration of social media provides large scale exposure opportunities to the company and the non-profit each time an employee volunteers.";
    ViewBag.AboutTwo = "At Day of Difference we understand the challenges companies face in regard to increasing their corporate sponsored volunteerism efforts. Our process encourages volunteerism by engaging the employees on a regular basis, notifying them of upcoming opportunities that meet their interests. Day of Difference also works regularly with our non-profit partners organizing individual and group volunteer opportunities throughout the year that will be available to all clients. Through exemplary customer service and by understanding the needs of both our clients and non-profit partners we are able to build lasting relationships that make a difference.";
    ViewBag.AboutFounder = "Founder, Jill Auld, became passionate about volunteering in her teens and has been involved in her community ever since; regularly volunteering and coordinating volunteer opportunities for others. Jill believes in the difference volunteers can make in the community and has witnessed organizations transform and thrive because of the support they receive. Jill’s hope is that once introduced to the non-profits making an impact in their community, individuals and companies will be inspired to become a part of the on-going cause; generating long term relationships that make a difference.";
}
<h2>@ViewBag.Title</h2>

<h3 class="sectionTitle"> Mission </h3>
<p>@ViewBag.Mission</p>

<h3 class="sectionTitle"> Vision </h3>
<p>@ViewBag.Vision</p>

<h3 class="sectionTitle"> About Us </h3>
<p>@ViewBag.About</p>
<p>@ViewBag.AboutTwo</p>

<h3 class="sectionTitle"> About Our Founder </h3>
<p>@ViewBag.AboutFounder</p>