@model EventRegistrationSystem.Models.VolunteerEvent

@{
    ViewBag.Title = "Details";
}


@section Scripts{

    <script language="javascript" type="text/javascript">
        function AcceptTerms() {

            if ($("#CheckBox1").is(':checked')) {
                return true;
            }
            else {
                alert("Registration cannot be completed without agreeing to the event's waiver of liability");
                return false;
            }
        }
    </script>
    }

    <h2>Event Details</h2>

    <div>
      
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @*@Html.DisplayNameFor(model => model.EventName)*@
                Event Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Company)*@
                Company Participating
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>

            <dt>

                @*@Html.DisplayNameFor(model => model.NonProfit)*@
                Non-Profit
            </dt>


            <dd>
                @Html.DisplayFor(model => model.NonProfit)
            </dd>

            @*
        <dt>
            @Html.DisplayNameFor(model => model.EventDetails)
            Cause
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDetails)
        </dd>

            *@

            <dt>
                @*@Html.DisplayNameFor(model => model.EventDate)*@
                Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDate)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.EventStartTime)*@
                Start Time
            </dt>

            <dd>

                @Html.DisplayFor(model => model.EventStartTime)
            </dd>

            <dt>
                @* @Html.DisplayNameFor(model => model.EventEndTime)*@
                End Time
            </dt>

            <dd>

                @Html.DisplayFor(model => model.EventEndTime)
            </dd>


            <dt>
                @*
            @Html.DisplayNameFor(model => model.EventDescription)
                *@
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDescription)
            </dd>

           

            @*<dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>*@

            @*<dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>*@
            @*
        <dt>
            @Html.DisplayNameFor(model => model.RestrictedByCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestrictedByCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventHidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventHidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCapacity)
        </dd>
            *@







            @*
        <dt>
            @Html.DisplayNameFor(model => model.EventInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventInterest)
        </dd>
            *@




            @*
        <dt>
            @Html.DisplayNameFor(model => model.EventTotalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTotalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonProfitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonProfitID)
        </dd>
            *@
        </dl>
    </div>
    <br />
    
        <h4>
            @*@Html.DisplayNameFor(model => model.EventFiles)*@
            Event Wiaver of Liability
        </h4>

        <p>
            @Html.DisplayFor(model => model.EventFiles)
        </p>
        
        <input id="CheckBox1" name="CheckBox1" type="checkbox" value="true" /> I agree to this event's waiver of liability

   

<br />
<br />

<!--<input type="submit" value="New" onclick="Enable();">-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Register" class="btn btn-default" onclick="return AcceptTerms();" /> |
            @*@Html.ActionLink("Back To List", "Index")*@
        </div>
    }

    @*
        <p>
            @Html.ActionLink("Register", "Index", new { id = Model.VolunteerEventId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    *@
